html,
body {
    height: 100%;
}

.mainContainer {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer {
    border: solid 1px #dbdbdb;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: #fff;
    @media screen and (max-width: 450px) {
        border: none;
        background-color: #fff;
    }
}

.title {
    margin: 22px auto 12px;
    background-image: url("../../assets/logo.png");
    background-repeat: no-repeat;
    background-position: 0 -130px;
    height: 51px;
    width: 175px;
}

.subTitle {
    text-align: center;
    color: #8e8e8e;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
}

.facebookEntry {
    text-align: center;
    display: inline;
    position: relative;

    .facebookLogo {
        display: inline-block;
        margin-right: 8px;
        position: relative;
        top: 2px;
        background-image: url("../../assets/logo.png");
        background-repeat: no-repeat;
        background-position: -414px -300px;
        height: 16px;
        width: 16px;
    }

    a {
        color: #fff;
        text-transform: inherit;
        font-size: 14px;
        display: inline;
        position: relative;
        font-weight: 600;
    }
}

.form {
    width: 100%;
    margin: 0px auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & > * {
        margin-bottom: 6px;
    }

    Button {
        margin: 8px auto;
    }
}

.postscript {
    color: #8e8e8e;
    font-size: 12px;
    line-height: 16px;
    margin: 10px 40px;
    text-align: center;

    a {
        font-weight: 600;
        cursor: pointer;
    }
}
