html,
body {
    height: 150vh;
}

.mainContainer {
    width: 100%;
    display: flex;   
    align-items: center;
    margin-top: 74px;
    flex-direction: column;
 
}

.footer {
    @media only screen and (min-width: 640px){
        display: none;
    }
}