.get-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    div > p {
        margin: 10px 0;
    }

    .img-container {
        margin: 10px 0;
        
        img {
            height: 40px;
            margin: 0 4px;
            cursor: pointer;
        }
    }
    
}